<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Coyotex</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>coyotex</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>GMSApiKey</key>
	<string>AIzaSyDg2wdDb3SFR1V_3DO2mNVvc01Dh6vR5Mc</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera for taking photos/videos.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Need access to import GPX files</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>Need access to import GPX files</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>Need access to import GPX files</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your location helps us provide accurate results, even when the app is running in the background, such as tracking your delivery or providing navigation updates.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We use your location to ensure a seamless experience by offering features like location-based services and precise delivery tracking.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to show nearby places, services, and to improve your experience while using the map feature.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone for recording videos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to save photos/videos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to select photos/videos.</string>
	<key>NSPushNotificationsUsageDescription</key>
	<string>We need permission to send you notifications about important updates.</string>
	<key>NSMotionUsageDescription</key>
	<string>We need access to motion sensors to provide compass functionality.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>aps-environment</key>
	<string>production</string>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
